/*-----------------------
    Root Variables
    ----------------------*/

   :root {
       --primary-dark: #014F86;
       --primary: #2A6F97;
       --background: #FAFAF5;
       --surface: #CFE8EA;
       --surface-secondary: #F7FBFD;
       --text: #1f1f1f;
       --light-text: #ffffff;
       --accent: #FF6F59;
       --border: #CCCCCC;
       --font-heading: 'Quicksand', sans-serif;
       --font-body: 'Nunito', sans-serif;

       --radius: 6px;
   }

   /*-----------------------
    Base Styles
    ----------------------*/

   body {
       font-family: var(--font-body);
       margin: 0;
       background: var(--background);
       color: var(--text);
   }

   h1, h2, h3, h4 {
       font-family: var(--font-heading);
   }

   /*-----------------------
    Header & Footer Styles
    ----------------------*/

   header, footer {
       background: var(--primary);
       color: var(--light-text);
       padding: 20px;
   }

   header {
       display: flex;
       align-items: center;
       justify-content: space-between;
       padding: 1rem 2rem;
   }

   .branding {
       display: flex;
       align-items: center;
       gap: 1rem;
   }

   .logo {
       height: 70px;
       width: auto;
   }

   .header-text {
       display: flex;
       flex-direction: column;
   }

   /*-----------------------
    Navigation
    ----------------------*/

   nav ul {
       list-style: none;
       padding: 0;
       margin: 0;
       display: flex;
       gap: 1.5rem;
   }

   nav a {
       color: var(--light-text);
       text-decoration: none;
       font-weight: bold;
       font-family: var(--font-heading)
   }

    nav a:hover {
         color: var(--accent);
    }